@import "assets/colors.scss";

@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  font-size: 62.5%;
  font-family: "Rubik";
  color: $bg-primary-100;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: $bg-primary-900;
  margin: 0;
}

.input-medium {
  background-color: $bg-primary-500;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  height: 3.8rem;
  padding: 1rem;
  background-image: none;
  box-shadow: none;
  outline: none;
  color: $bg-primary-50;
  font-size: 1.6rem;
  font-family: var(--font-family);

  &::-webkit-input-placeholder {
    color: $bg-primary-300;
  }
  &:-moz-placeholder {
    color: $bg-primary-300;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $bg-primary-300;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $bg-primary-300;
  }
  &::-ms-input-placeholder {
    color: $bg-primary-300;
  }

  &::placeholder {
    color: $bg-primary-300;
  }
}
